.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
.table-responsive::-webkit-scrollbar {
display: none;
}
.aa-input-container {
  display: inline-block;
  position: relative; }
.aa-input-search {
  width: 300px;
  padding: 12px 28px 12px 12px;
  border: 2px solid #e4e4e4;
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: .2s;
  font-family: "Montserrat", sans-serif;
  box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
  font-size: 11px;
  box-sizing: border-box;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none; }
  .aa-input-search:focus {
    outline: 0;
    border-color: #3a96cf;
    box-shadow: 4px 4px 0 rgba(58, 150, 207, 0.1); }
.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4; }
.aa-hint {
  color: #e4e4e4; }
.aa-dropdown-menu {
  background-color: #fff;
  border: 2px solid rgba(228, 228, 228, 0.6);
  border-top-width: 1px;
  font-family: "Montserrat", sans-serif;
  width: 300px;
  margin-top: 10px;
  box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
  font-size: 11px;
  border-radius: 4px;
  box-sizing: border-box; }
.aa-suggestion {
  padding: 12px;
  border-top: 1px solid rgba(228, 228, 228, 0.6);
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); }
  .aa-suggestion > span:first-child {
    color: #333; }
  .aa-suggestion > span:last-child {
    text-transform: uppercase;
    color: #a9a9a9; }
.aa-suggestion > span:first-child em, .aa-suggestion > span:last-child em {
  font-weight: 700;
  font-style: normal;
  background-color: rgba(58, 150, 207, 0.1);
  padding: 2px 0 2px 2px; }



  html{-webkit-backface-visibility: hidden;}
.md-space-up{
  padding-top: 1px;
}
.bg-light {
  background-color: #fbfbfd;
}
.size{
   object-fit: cover;
  }
  .miniImg{
  width: 40px;
  height: 14px;
}
.text-center{
   text-align: center;
}
.nospace{
  padding:0px;
  margin: 0px;
}
.img-rounded{
  border-radius: 3px;
}
.test-border{
  border: 1px solid black;
}
.centered {
 margin-top: 50px;
}

/*

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

p img, .google-image-layout img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;


.google-image-layout img {
  visibility: hidden;
}

.google-image-layout img.layout-completed {
  visibility: visible;
}*/
/*.c {
    // position: relative;
    // width: 50%;
}*/


/*$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

$width: 100px;*/



trix-editor:empty:not(:focus)::before {
  font-family: "apercu",sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}

.md-space-up{
  padding-top: 1px;
}
.login-container{
    position: relative;
    padding: 200px 0 0;
    text-align: center;
}


.img-raised {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.fit{
   object-fit: cover;
  }

  .space-up{
    margin-top: 20px;
  }

  .roleExists{
    pointer-events: none;
  }
/*changes for deploying */

.scroll {
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.navbar .navbar-nav > ul {
  background-color: #fff;
}
.scroll::-webkit-scrollbar {
    display: none;
}
.table-responsive::-webkit-scrollbar {
    display: none;
}
.btn-category {
    border: 1px solid #DFE1E5;
    background-color: white;
    box-sizing: border-box;
    color: #000;
    position: relative;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


     .off-canvas-sidebar .nav {
        background-color: white;
        height: 100vh;
        margin-top: 0px;
    }
    .scroll {
      background-color: #fff;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
      text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  }
   .scroll2 {
        text-align: center;
        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .scroll::-webkit-scrollbar {
    display: none;
}
.scroll2::-webkit-scrollbar {
    display: none;
}
.table-responsive::-webkit-scrollbar {
    display: none;
}
  .table-responsive {
    padding: 1em;
    border: none;
  }
  .table>tbody>tr>td,
  .table>tbody>tr>th,
  .table>tfoot>tr>td,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>thead>tr>th {
    border: none;
    min-width: 20em;
    max-width: 20em;
}
.space {
    padding: 2em;
}
.cd-size {
    min-width: 20em;
    height: 14em;
}
.navbar .navbar-nav > ul {
  background-color: #fff;
}
.brand {
    padding: 0;
    margin: 0;
    font-size: 16vw;
    text-align: center;
    color: white;
    font-family: Baloo,sans-serif;
    text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.description {
    padding: 0;
    margin: 0;
    font-size: 2vw;
    text-align: center;
    color: white;
    font-family: Baloo,sans-serif;
    text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding-bottom: 2.5em;
}
.space-ud {
    margin-top: 4.5em;
    margin-bottom: 1.5em;
}
/*body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, {
  font-family: Circular,Helvetica,Arial,sans-serif;
  color: #222326;
  line-height: 1.5em;
}*/
.algolia_logo {
    border: 0;
    width: 80px;
    float: right;
    padding: 10px;
}

.img-table {
    min-width: 5em;
  }

  .dd-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 25vw;
  }

  .header {
    background: #fff;
    padding: 3em;
}

  .header_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_main_font {
    font-family: 'Black Han Sans', sans-serif;
}
  .header_secondary_font {
     font-family: 'Black Han Sans', sans-serif;
  }

/*Media queries begin*/
@media screen and (max-width: 767px) {
.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>td,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>thead>tr>th {
    white-space: normal;
    min-width: 20em;
    max-width: 20em;
}

  .size{
    max-width: 150px;
  }
  .miniImg{
    height: 15px;
    width: 40px;
  }
}

    @media (max-width: 992px) {
    .aa-input-search {
      width: 20rem;
    }
    .aa-dropdown-menu {
      width: 20rem;
    }
  }

  @media (min-width:1200px ){
  .size{
    max-width: 420px;
  }
  .miniImg{
    height: 15px;
    width: 40px;
  }
}

@media (min-width:992px ) and (max-width: 1199px) {
    .size{
    max-width: 320px;
  }
  .miniImg{
    height: 15px;
    width: 40px;
  }
      .header_main_font {
    font-size: 6em;
  }

  .header_secondary_font {
    font-size: 2em;
  }

  .miniImg{
    height: 15px;
    width: 40px;
  }
}
@media (min-width: 480px) and (max-width: 767px){
  .s-up{
    margin-top: 25%;
  }
}

@media (max-width: 991px){
.size{
    max-width: 300px;
  }
  .miniImg{
    height: 15px;
    width: 40px;
  }
  .md-space-up{
  padding-top: 50px;
  }
}
@media (max-width:479px){
  .size{
    max-width: 100px;
  }

  .miniImg{
    height: 15px;
    width: 40px;
  }

  .login-container{
    position: relative;
    padding: 70px 0 0;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .table-full-width {
    margin-left: -20px;
    margin-right: -20px;
  }
  .s-up{
  margin-top: 40%;
}
}

@media (min-width: 1000px){
  .ipro{
    display: none;
}
.ht{
  max-height: 464px;
}
}
@media (min-width: 1199px) {
  .ht{
  max-height: 438px;
}
  .header {
    height:480px;
}
    .header_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4em;
  }

  .header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header_main_font {
    font-size: 8em;
  }

  .header_secondary_font {
    font-size: 3em;
  }
}

@media (max-width: 550px) {

    .hidden-mobile {
        display: none;
    }
    .description {
    font-size: 4vw;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
}
@media (min-width: 550px) and (max-width: 768px) {
  .hidden-tablet {
    display: none;
  }
}
/*Media queries end*/
